1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

#####'hello'
#####-87.8
#####-
#####/
#####+
#####6

Answer
#####'hello' - value
#####-87.8 - value
#####-  expression
#####/ expression
#####+	expression
#####6 value

2. What is the difference between string and variable?

Answer
#####String is a type of data in text form while a variable is like a container which can store different data type values.

3. Describe three different data types.

Answer
- Int – It has Integer values as data type, for example 2, 3 and mathematical operations can be performed on them directly.
- String – It has text as data type, for example simple English words like “Money” and represented inside inverted commas in python.
- Float – It is a data type which has decimal values as well, for example 20.36.
- Bool – It is a data type which represents two binary conditions True and False.

4. What is an expression made up of? What do all expressions do?

Answer

An expression is a combination of operators, constants and variables and may consist of one or more operands, and one or more operators.

Expressions produce a value.

For example, A = x+y*z-8 is an example of an expression, where +, * are operators; x, y, and z are variables, and 8 is a constant.

5. The assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer
- Expression represents the mathematical operators like '+', '-' or '=', while statement represent a line of code which can contain expressions as well as different data types.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1 = 

Answer
22

code given below

In [2]:
bacon = 22
bacon + 1
bacon

22

7. What should the values of the following two terms be?
- 'spam' + 'spamspam'
- 'spam' * 3

Answer

- ‘spamspamspam’ 
- ‘spamspamspam’ 

code given below

In [4]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Answer

Because by convention numbers can’t be used as it is or at starting of a variable name in python.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer

- int()
- float()
- str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Answer

It shows - TypeError: can only concatenate str (not "int") to str

We can fix it by converting 99 into a string by using str(99) or putting it into double inverted commas as "99" in place of 99 in this code line.

code given below

In [6]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [7]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'