# ASSIGNMENT 3 - Compulsory
#Submitted by: Manish Kumar Sharma

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

Answer: As per code in below section iNeuron comes 3 times.

In [1]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
text.count("iNeuron")

3

2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
Answer: No, it doesn't (code shown below for checking)

In [ ]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
position_check = txt[4:11]
position_check

', welc'

3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

Answer: Given in code below

In [9]:
name = input("Enter your name: ")
name_set = name.split(" ")
print(f"{name_set[0][0]}.{name_set[1][0]}.{name_set[2]}")

Enter your name: Manish Kumar Sharma
M.K.Sharma

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
Answer: Given in code below

In [11]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
'#'.join(LIST)

'My#name#is#Rishav#Dash'

5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
Answer: Given in codes below

In [19]:
expr = "100"  
print("expr isdecimal()?", expr.isdecimal())

expr isdecimal()? True

In [21]:
a = "sunny"
a.islower()

True

In [22]:
b = "KOFI"
b.isupper()

True

In [23]:
c = "kpr"
c.isalpha()

True

In [25]:
d = "4"
d.isnumeric()

True

6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [28]:
PAN_CARD = input("Enter your PAN card number: ")
if len(PAN_CARD) == 10 and PAN_CARD[0:5].isalpha() == True and PAN_CARD[5:9].isdigit() == True and PAN_CARD[-1].isalpha() == True:
  print(f"PAN card value entered: {PAN_CARD}, is correct.")

else:
  print(f"Enetered value incorrect, Please enter the PAN card value in correct format.")

Enter your PAN card number: AYEPC78942
Enetered value incorrect, Please enter the PAN card value in correct format.